.bottom-border {
    outline: 0;
    border-width: 0 0 2px;
    border-color: white

}


.table {
    background-color: white;
}

.table-bordered {
    border: 1px solid #e6e6f2;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #e6e6f2;
}

input {
    width: 100%;
}

.priceForm {
    width: 400px;
}
