.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }

  .ng-valid[email], .ng-valid.email  {
    border-left: 5px solid #42A948; /* green */
  }
  
input.ng-invalid.ng-touched {
  border-left: 5px solid red;
}

.register-form {
  width: 500px;
  margin: 0px auto;
}

.register-form form {
  margin-bottom: 15px;
  padding: 30px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}