<div class="card">
    <h5 class="card-header">Orders</h5>
    <div class="card-body">
      <div class='table-responsive-sm'>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover table-bordered"
          *ngIf="orders; else loading">
          <tbody>
            <tr *ngFor="let order of orders">
              <td>{{ order.id}}</td>
              <td>{{ order.orderState }}</td>
            <td class="text-center"><button></button></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th style="width: 5%;"><input type="text" class="bottom-border" placeholder="Search id" name="search-id" /></th>
              <th><input type="text" class="bottom-border" placeholder="Search name" name="search-id" /></th>
              <th></th>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>
  </div>