<div class="login-form">

    <form [formGroup] = "loginForm" (ngSubmit)="onSubmit()" *ngIf="!submited"> 
        <h2 class="text-center">Log in</h2>       
        <div class="text-center text-danger" *ngIf="notification">
                {{notification}}
        </div>
        <div class="form-group" >
            <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username" required="required">
        </div>
        <div class="form-group" >
            <input type="password" class="form-control" id="password" placeholder="Password"  formControlName="password" required="required">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>

    </form>
    <div class="text-center"><a routerLink="/register">Create an Account</a></div>
</div>