<div class="card">
    <h5 class="card-header">Items</h5>
    <div class="card-body">
        <div class="float-right"><button class="btn btn-primary mb-2" routerLink="new">Add</button></div>
      <div class='table-responsive-sm'>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover table-bordered"
          *ngIf="promotions; else loading">
          <tbody>
            <tr *ngFor="let promotion of promotions">
              <td>{{ promotion.id}}</td>
              <td>{{ promotion.name }}</td>
              <td>{{ promotion.percentageDiscount}}</td>
              <td>{{ promotion.startTime | date: 'medium'}}</td>
              <td>{{ promotion.endTime | date: 'medium'}}</td>
            <td class="text-center"><button></button></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th style="width: 5%;"><input type="text" class="bottom-border" placeholder="Search id" name="search-id" /></th>
              <th><input type="text" class="bottom-border" placeholder="Search name" name="search-id" /></th>
              <th><input type="text" class="bottom-border" placeholder="Search discount" name="search-id" /></th>
              <th><input type="text" class="bottom-border" placeholder="Search start date" name="search-id" /></th>
              <th><input type="text" class="bottom-border" placeholder="Search ebd date" name="search-id" /></th>
              <th></th>
            </tr>
          </tfoot>
        </table>
        <br>
        <br>

      </div>
    </div>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Edit promotion</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  
    </div>
    <div class="modal-body">
      <form [formGroup]="newPromotionForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Name:</label>
            <input class="form-control" type="text" formControlName="name">
        </div>
        <div class="form-group">
            <label>Percentage discount:</label>
            <input class="form-control" type="number" formControlName="percentageDiscount">
        </div>
        <div class="row">
            <div class="form-group col">
                <label>From</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #da="ngbDatepicker"
                        formControlName="startDate">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="da.toggle()" type="button"><img
                            src="../../../assets/img/calendar.svg"></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="time">Time</label>
                            <ngb-timepicker [spinners]="false" formControlName="startTime" id="time" ></ngb-timepicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label>To</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"
                        formControlName="endDate">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><img
                                src="../../../assets/img/calendar.svg"></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="time">Time</label>
                            <ngb-timepicker [spinners]="false" formControlName="endTime" id="time" ></ngb-timepicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="ml-2" formArrayName="categories" *ngFor="let category of newPromotionForm.controls.categories.controls; let i = index">
                <input type="checkbox" [formControlName]="i"/> {{itemCategories[i].name}}
            </label>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
    </div>
  </ng-template>

