<div class="dashboard-main-wrapper">
    <!-- left sidebar -->
    <div class="nav-left-sidebar sidebar-dark">
      <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-column">
              <li class="nav-divider">
                Menu
              </li>
              <li class="nav-item ">
                <a class="nav-link" routerLink="./">Dashboard </a>
              </li>        
              <li class="nav-item ">
                <a class="nav-link" routerLink="items">Items </a>
              </li> 
              <li class="nav-item ">
                <a class="nav-link" routerLink="cart">Cart </a>
              </li>       
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <!-- end left sidebar --> 
    <div class="dashboard-wrapper">
      <div class="dashboard-ecommerce">
          <div class="container-fluid dashboard-content ">
            <router-outlet></router-outlet>
            </div>
            </div>
            </div>
  </div>